<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <title>Register</title>
  <style>
  body {
    background-color: #E0CBFF;
    height: 100% !important;
    width: 100% !important;
  }
  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  </style>
</head>
<body>
  <div class="content">
    <img src="{{ url_for('static', filename='images/sbi.png') }}">
    <br /><br />
    <div>
      <a class="button" href="/login">Login</a>
    </div>
    <div>
      <a class="button" href="/register">Register</a>
    </div>
  </div>
</body>
</html>
