<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <title>Register</title>
</head>
<body style="height: 100%; width: 100%">
  <div id="camera" style="height: 100%; width: 100%">
    <div class="placeholder">
      Your browser does not support camera access.<br>
    </div>
  </div>
  <button id="bottom-button" onclick="register()">
    Register
  </button>
  <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/jpeg_camera_with_dependencies.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>
